vpc_id             = "vpc-xxxxxxxx"
subnet_id          = "subnet-xxxxxxxx"
subnet_cidr_block  = "192.168.7.0/24"
security_group_ids = ["sg-xxxxxxxx"]
mysql_node_count   = 4
enable_validation  = false

# mysql_admin_password = "ChangeMe@123"
