vpc_id             = "vpc-xxxxxxxx"
subnet_id          = "subnet-xxxxxxxx"
security_group_ids = ["sg-xxxxxxxx"]
image_id           = "img-xxxxxxxx"
mysql_node_count   = 4
enable_validation  = false

# mysql_admin_password = "ChangeMe@123"
