[Unit]
Description=code-server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ dsh_user }}
Group={{ dsh_group }}
Environment=HOME={{ dsh_home }}
Environment=PATH={{ code_server_prefix }}/bin:{{ nodejs_prefix }}/bin:/usr/local/bin:/usr/bin:/bin
WorkingDirectory={{ dsh_workspace_dir }}
ExecStart=/usr/local/bin/code-server --config {{ dsh_home }}/.config/code-server/config.yaml
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
